.clr {
  display: block;
  clear: both;
}
.wrapper.airlines,
.wrapper.planes,
.wrapper.airports {
  margin-bottom: 30px;
  margin-top: 20px;
}
.airlines ul,
.planes ul,
.airports ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  padding-left: 0;
}
.filter {
  margin-bottom: 10px;
}
.filter p {
  font-size: 13px;
}
.filter .details {
  border: 0px;
  font-weight: bold;
}
.filter .details:hover {
  text-decoration: none;
}
.filter .details span {
  border-bottom: 1px dashed #34B0EA;
  padding-right: 12px;
}
.sort {
  margin-bottom: 0px;
}
.sort ul {
  list-style: none;
  -webkit-margin-after: 0;
}
.sort ul li {
  display: inline-block;
  margin-right: 7px;
}
.sort ul li a {
  font-size: 11px;
  color: #666;
  border-bottom: 1px dashed #666;
}
.sort ul li a:hover {
  text-decoration: none;
  border-bottom: none;
}
.sort ul .active {
  background: #939698;
  padding: 0px 5px 2px;
  border-radius: 3px;
}
.sort ul .active a {
  border-bottom: none;
  color: #fff;
  padding-right: 9px;
}
.sort ul .ascending a {
  background: url(../images/ico-arrow-top.png) no-repeat center right;
}
.sort ul .descending a {
  background: url(../images/ico-arrow-down.png) no-repeat center right;
}
.airlines .items-list,
.planes .items-list,
.airports .items-list {
  list-style: none;
}
.airlines .items-list li,
.planes .items-list li,
.airports .items-list li {
  display: inline-block;
}
.airlines .items-list li:after,
.planes .items-list li:after,
.airports .items-list li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.airlines .items-list li,
.planes .items-list li,
.airports .items-list li {
  display: block;
  padding-bottom: 35px;
  border-bottom: 1px solid #e9eaea;
}
.airlines .items-list li .left,
.planes .items-list li .left,
.airports .items-list li .left {
  width: 180px;
  float: left;
  text-align: center;
}
.airlines .items-list li .left img,
.planes .items-list li .left img,
.airports .items-list li .left img {
  margin-top: 50px;
}
.airlines .items-list li .center,
.planes .items-list li .center,
.airports .items-list li .center {
  width: 475px;
  float: left;
  padding-left: 20px;
}
.airlines .items-list li .center h3,
.planes .items-list li .center h3,
.airports .items-list li .center h3 {
  font-size: 24px;
  color: #333;
  margin: 40px 0 5px;
}
.airlines .items-list li .center h3 a,
.planes .items-list li .center h3 a,
.airports .items-list li .center h3 a {
  text-decoration: underline;
}
.airlines .items-list li .center p,
.planes .items-list li .center p,
.airports .items-list li .center p {
  font-size: 13px;
  color: #666;
}
.airlines .items-list li .center tr:first-child,
.planes .items-list li .center tr:first-child,
.airports .items-list li .center tr:first-child,
.airlines .items-list li .center tr:last-child,
.planes .items-list li .center tr:last-child,
.airports .items-list li .center tr:last-child {
  border-bottom: 1px solid #e9eaea;
}
.airlines .items-list li .center table,
.planes .items-list li .center table,
.airports .items-list li .center table {
  margin-bottom: 20px;
}
.airlines .items-list li .center tr th,
.planes .items-list li .center tr th,
.airports .items-list li .center tr th {
  padding-left: 15px;
}
.airlines .items-list li .center tr:last-child td,
.planes .items-list li .center tr:last-child td,
.airports .items-list li .center tr:last-child td {
  padding-bottom: 20px;
}
.airlines .items-list li .center tr td,
.planes .items-list li .center tr td,
.airports .items-list li .center tr td {
  color: #333;
  font-size: 14px;
  padding: 12px 0px 12px 15px;
  max-width: 260px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.airlines .items-list li .center tr td:nth-child(1),
.planes .items-list li .center tr td:nth-child(1),
.airports .items-list li .center tr td:nth-child(1) {
  font-weight: bold;
}
.airlines .items-list li .center tr td:nth-child(2),
.planes .items-list li .center tr td:nth-child(2),
.airports .items-list li .center tr td:nth-child(2) {
  color: #34b0ea;
}
.airlines .items-list li .center tr td a,
.planes .items-list li .center tr td a,
.airports .items-list li .center tr td a {
  font-weight: bold;
  border-bottom: 1px dashed #34b0ea;
}
.airlines .items-list li .center tr td a:hover,
.planes .items-list li .center tr td a:hover,
.airports .items-list li .center tr td a:hover {
  text-decoration: none;
  border-bottom: none;
}
.airlines .items-list li .center > a,
.planes .items-list li .center > a,
.airports .items-list li .center > a {
  margin-left: 15px;
  font-size: 13px;
}
.airlines .items-list li .right,
.planes .items-list li .right,
.airports .items-list li .right {
  float: right;
  width: 125px;
  margin: 50px 80px 0 0;
  text-align: center;
}
.airlines .items-list li .right > a,
.planes .items-list li .right > a,
.airports .items-list li .right > a {
  background: url(../images/ico-comments.png) no-repeat left center;
  padding: 0 0 0 20px;
  font-size: 13px;
}
.airlines .title h2,
.planes .title h2,
.airports .title h2 {
  font-size: 24px;
  color: #333;
}
.airlines .buttons,
.planes .buttons,
.airports .buttons {
  margin-bottom: 30px;
}
.airlines .buttons button,
.planes .buttons button,
.airports .buttons button {
  margin-right: -5px;
  padding: 11px 19px;
  cursor: pointer;
}
.airlines .buttons button:not(.active),
.planes .buttons button:not(.active),
.airports .buttons button:not(.active) {
  border: 1px solid #c0c0c0;
  border-bottom: 1px solid #d8d8d8;
}
.airlines .buttons button:hover:not(.active),
.planes .buttons button:hover:not(.active),
.airports .buttons button:hover:not(.active) {
  background: #e0e1e1;
}
.airlines .buttons button.active span,
.planes .buttons button.active span,
.airports .buttons button.active span {
  color: #eee;
}
.airlines .buttons button span,
.planes .buttons button span,
.airports .buttons button span {
  color: #999;
}
.airlines .stars {
  width: 110px;
  background: url(../images/ico-star-big.png) repeat-x;
  margin: 0 auto 15px;
}
.airlines .stars .inner {
  height: 18px;
  background: #ffffff url(../images/ico-star-big-gold.png) repeat-x;
}
.airlines .stars .s0 {
  background: none;
}
.airlines .stars .s1 {
  width: 22px;
}
.airlines .stars .s2 {
  width: 44px;
}
.airlines .stars .s3 {
  width: 66px;
}
.airlines .stars .s4 {
  width: 88px;
}
.airlines .stars .s5 {
  width: 110px;
}
.item-view .left {
  width: 235px;
  float: left;
  text-align: center;
}
.item-view .left img {
  margin: 45px 0 50px 0;
}
.item-view .left > .stars {
  margin-bottom: 25px;
}
.item-view .left .criteria {
  color: #999;
  font-size: 12px;
  float: left;
  margin-bottom: 9px;
}
.item-view .left .criteria p {
  float: left;
  margin: 0;
}
.item-view .left .criteria .stars {
  width: 75px;
  margin: 0 10px 0 0;
  background: url(../images/stars-gray.png) repeat-x;
  float: left;
}
.item-view .left .criteria .stars .inner {
  height: 12px;
  background: #ffffff url(../images/stars-gold.png) repeat-x;
}
.item-view .left .criteria .stars .s0 {
  background: none;
}
.item-view .left .criteria .stars .s1 {
  width: 15px;
}
.item-view .left .criteria .stars .s2 {
  width: 30px;
}
.item-view .left .criteria .stars .s3 {
  width: 45px;
}
.item-view .left .criteria .stars .s4 {
  width: 60px;
}
.item-view .left .criteria .stars .s5 {
  width: 75px;
}
.item-view .left > a {
  background: url(../images/ico-comments.png) no-repeat left center;
  padding: 0 0 0 20px;
  margin-top: 15px;
  font-size: 13px;
  float: left;
}
.item-view .right {
  width: 680px;
  float: right;
}
.item-view .right .desc {
  color: #666;
  line-height: 19px;
  margin-bottom: 30px;
}
.item-view .right .contact {
  background: url(../images/ico-contact.png) no-repeat left center;
  padding: 0 0 3px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 20px;
}
.item-view .right .contact-item {
  margin-bottom: 25px;
}
.item-view .right .contact-item i {
  display: block;
  margin-bottom: 6px;
  color: #666;
  font-size: 13px;
}
.item-view .right .contact-item a {
  font-size: 16px;
  font-weight: bold;
}
.item-view .right .contact-item strong {
  line-height: 20px;
}
.item-view .right .planes span {
  background: url(../images/ico-plane-green.png) no-repeat left center;
  padding: 0 0 2px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 20px;
}
.item-view .right .planes ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  list-style: none;
  width: 460px;
}
.item-view .right .planes ul li {
  color: #333;
  line-height: 24px;
  font-size: 13px;
  display: inline-block;
  margin-right: 20px;
  width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.airlines-specials table {
  font-size: 16px;
}
.airlines-specials table tr:first-child {
  border-bottom: 1px solid #ccc;
}
.airlines-specials table tr:first-child th {
  font-size: 16px;
  padding: 20px 15px;
}
.airlines-specials table tr:not(:first-child):hover {
  background: #eee;
}
.airlines-specials table td {
  padding: 20px 15px;
  color: #333;
}
.airlines-specials table td a {
  border-bottom: 1px dashed #34B0EA;
}
.airlines-specials table td a:hover {
  text-decoration: none;
}
.airlines-loyalty .item {
  margin-bottom: 40px;
}
.airlines-loyalty .item h5 {
  font-size: 16px;
  margin-bottom: 20px;
}
.airlines-loyalty .item p {
  font-size: 13px;
  line-height: 19px;
  color: #333;
}
.planes .buttons,
.airports .buttons {
  margin-bottom: 35px;
}
.planes .item-view .left,
.airports .item-view .left {
  text-align: left;
}
.planes .item-view .left img,
.airports .item-view .left img {
  margin: 0 0 20px;
  border-radius: 5px;
}
.planes .item-view .left span,
.airports .item-view .left span {
  font-size: 13px;
  color: #666;
  font-style: italic;
  display: block;
}
.planes .item-view .left span strong,
.airports .item-view .left span strong {
  font-style: normal;
  color: #333;
  text-decoration: none;
}
.planes .item-view .left span strong.big,
.airports .item-view .left span strong.big {
  font-size: 24px;
  padding-left: 5px;
}
.planes .item-view .left span.rating,
.airports .item-view .left span.rating {
  margin-bottom: 15px;
}
.planes .item-view .left span.distance,
.airports .item-view .left span.distance {
  margin-bottom: 7px;
}
.planes .item-view .right .desc,
.airports .item-view .right .desc {
  margin-top: 0;
}
.planes .item-view .right .use,
.airports .item-view .right .use {
  background: url(../images/ico-plane.png) no-repeat left center;
  padding: 0 0 3px 27px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 20px;
}
.planes .item-view .right .companies ul,
.airports .item-view .right .companies ul {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  list-style: none;
  width: 285px;
}
.planes .item-view .right .companies ul li,
.airports .item-view .right .companies ul li {
  display: inline-block;
  width: 125px;
  margin-right: 15px;
  line-height: 20px;
}
.planes .items-list li .right,
.airports .items-list li .right {
  text-align: left;
  width: 170px;
}
.planes .items-list li .right .rating,
.airports .items-list li .right .rating {
  font-size: 13px;
  color: #666;
  font-style: italic;
  display: block;
  margin-bottom: 10px;
}
.planes .items-list li .right .rating strong,
.airports .items-list li .right .rating strong {
  font-style: normal;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  padding-left: 5px;
}
.planes .items-list li .right a,
.airports .items-list li .right a {
  display: block;
  margin-bottom: 8px;
}
.planes .items-list li .right .comments,
.airports .items-list li .right .comments {
  background-image: url(../images/ico-comments.png);
}
.planes .items-list li .right .experts,
.airports .items-list li .right .experts {
  background-image: url(../images/ico-user.png);
}
.planes .items-list li .right .photos,
.airports .items-list li .right .photos {
  background-image: url(../images/ico-photo.png);
}
.planes .items-list li .right .videos,
.airports .items-list li .right .videos {
  background-image: url(../images/ico-video.png);
}
.planes .experts-opinions,
.airports .experts-opinions {
  list-style: none;
}
.planes .experts-opinions li,
.airports .experts-opinions li {
  display: block;
  margin-bottom: 30px;
}
.planes .experts-opinions li img,
.airports .experts-opinions li img {
  float: left;
  border-radius: 3px;
  margin-right: 30px;
}
.planes .experts-opinions div,
.airports .experts-opinions div {
  position: relative;
  width: 645px;
  padding: 20px 30px;
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  float: left;
  border-radius: 3px;
}
.planes .experts-opinions div h5,
.airports .experts-opinions div h5 {
  font-size: 13px;
  color: #333;
  margin: 0 0 3px;
}
.planes .experts-opinions div i,
.airports .experts-opinions div i {
  font-size: 13px;
  color: #666;
  display: block;
  margin-bottom: 9px;
}
.planes .experts-opinions div p,
.airports .experts-opinions div p {
  font-size: 13px;
  color: #666;
  line-height: 18px;
  margin-bottom: 0;
}
.planes .experts-opinions div ins,
.airports .experts-opinions div ins {
  display: block;
  position: absolute;
  width: 10px;
  height: 19px;
  left: -10px;
  top: 20px;
  background: url(../images/ico-triangle-opinions.png);
}
.planes .plane-videos,
.airports .plane-videos {
  list-style: none;
}
.planes .plane-videos li,
.airports .plane-videos li {
  display: block;
  float: left;
  width: 300px;
  margin: 0 15px 20px 0;
}
.planes .plane-videos li h5,
.airports .plane-videos li h5 {
  font-size: 16px;
  color: #333;
  margin: 0 0 15px;
}
.planes .plane-videos li div,
.airports .plane-videos li div {
  width: 300px;
  height: 200px;
  position: relative;
}
.planes .plane-videos li div img,
.airports .plane-videos li div img {
  border-radius: 4px;
}
.planes .plane-videos li div a,
.airports .plane-videos li div a {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/btn-play.png) no-repeat center center;
}
.planes .plane-videos li div a:hover,
.airports .plane-videos li div a:hover {
  background: url(../images/btn-play-hover.png) no-repeat center center;
}
.planes .plane-videos li p,
.airports .plane-videos li p {
  font-size: 13px;
  color: #666;
  display: block;
  padding-left: 5px;
}
.planes .plane-videos li:nth-child(3n),
.airports .plane-videos li:nth-child(3n) {
  margin-right: 0;
}
.planes .techs .item,
.airports .techs .item {
  margin-bottom: 20px;
}
.planes .techs .item h5,
.airports .techs .item h5 {
  font-size: 18px;
  margin: 0 0 10px;
}
.planes .techs .item p,
.airports .techs .item p {
  margin: 0 0 5px;
}
.airports .filter p {
  display: inline-block;
  margin-right: 10px;
}
.airports .items-list li .center p {
  padding-right: 20px;
}
.airports .items-list li .right {
  width: 185px;
}
.airports .items-list li .right span {
  font-size: 13px;
  color: #666;
  font-style: italic;
  display: block;
  margin-bottom: 10px;
}
.airports .items-list li .right span .big {
  font-size: 12px;
}
.airports .item-view .left .distance .big {
  font-size: 13px;
}
.airports .item-view .left p {
  color: #333;
  font-size: 13px;
  line-height: 18px;
}
.airports .item-view .left a {
  display: block;
  float: none;
}
.airports .item-view .left a:not(.comments) {
  display: block;
  background: none;
  padding-left: 0;
}
.airports .item-view .right .item {
  margin-bottom: 20px;
}
.airports .item-view .right .item i {
  font-size: 13px;
  color: #666;
  display: block;
  margin-bottom: 7px;
}
.airports .item-view .right .item p {
  margin: 0;
  display: block;
  line-height: 20px;
  font-size: 13px;
  color: #333;
}
.airports .table-board {
  text-align: center;
}
.airports .table-board .board {
  margin-bottom: 30px;
}
.airports .table-board .board td,
.airports .table-board .board th {
  padding: 15px;
  text-align: left;
}
.airports .table-board .board tr:nth-child(1) th {
  padding-bottom: 0;
}
.airports .table-board .board tr:nth-child(2) th {
  border-bottom: 1px solid #bec1c2;
  padding-top: 5px;
}
.airports .table-board .board tr td {
  border-bottom: 1px solid #e9eaea;
  font-size: 14px;
}
.airports .table-board .board tr:nth-child(2) th {
  font-size: 11px;
}
.airports .table-board .board .waiting {
  color: #fba81c;
  font-weight: bold;
}
.airports .table-board .board .waiting strong {
  color: #333;
}
.airports .table-board .board .cancel {
  color: #eb413c;
  font-weight: bold;
}
.airports .table-board .more {
  background: url(../images/refresh.png) no-repeat left center;
  padding: 3px 0 2px 30px;
  text-decoration: none;
}
.faq .left {
  width: 282px;
  float: left;
}
.faq .left ul {
  list-style: none;
  padding: 0;
}
.faq .left ul li {
  height: 100px;
  cursor: pointer;
  display: block;
  position: relative;
}
.faq .left ul li h3 {
  width: 165px;
  padding: 25px 0 0 70px;
  margin: 0 0 3px;
}
.faq .left ul li p {
  padding: 0 0 0 70px;
  margin: 0;
  color: #828282;
  font-size: 13px;
  width: 165px;
}
.faq .left ul li i {
  position: absolute;
  display: block;
  top: 28px;
  left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffa913;
  background-position: center center;
  background-repeat: no-repeat;
}
.faq .left ul li i.faq-icon-calendar {
  background-image: url('../static/faq-icon-calendar.png');
}
.faq .left ul li i.faq-icon-ticket {
  background-image: url('../static/faq-icon-ticket.png');
}
.faq .left ul li i.faq-icon-refresh {
  background-image: url('../static/faq-icon-refresh.png');
}
.faq .left ul li:nth-of-type(2) h3 {
  padding-top: 15px;
}
.faq .left ul li.active {
  background: url(../images/bg-faq-menu-active.png) no-repeat;
}
.faq .right {
  width: 635px;
  float: right;
  margin-top: 15px;
}
.faq .right .item {
  margin-bottom: 15px;
}
.faq .right .item a {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px dashed #34b0ec;
}
.faq .right .item a:hover {
  text-decoration: none;
}
.faq .right .item .answer {
  display: none;
}
.faq .right .item .answer p {
  font-size: 13px;
  color: #8e8e8e;
}
.faq .right .item.active a {
  color: #000;
  border-color: #000;
}
