@import 'images.css';
@import 'images-companies.css';
@import 'header.css';
@import 'helpers.css';
@import 'elements.css';
@import 'search-form.css';
@import 'search-result-query.css';
@import 'search-filter.css';
@import 'calendar.css';
@import 'fast-booking.css';
@import 'ticket.css';
@import 'static.css';
@import 'footer.css';

body {
    margin: 0px;
    padding: 3px 0 30px 0;
    background: #2f4148;
    font-size: 14px;
}

body,
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}


header,
div.gray {
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
    div.gray {
        border-bottom: 3px solid #e5e5e5;
    }

section {
    padding: 10px 0;
    background: #fff;
    min-height: 500px;
}

.wrapper {
    width: 940px;
    margin: 0px auto;
    position: relative;
}
