.fr {
    float: right;
}

.fl {
    float: left;
}

.w200 {
    width: 200px;
}

.w300 {
    width: 300px;
}

.w600 {
    width: 600px;
}

.tac {
    text-align: center;
}

.pr {
    position: relative;
}

.dtc {
    display: table-cell;
    vertical-align: top;
}

.mt30 {
    margin: 30px 0;
}

.mt20 {
    margin: 20px 0;
}

.p20 {
    padding: 20px;
}