.tickets {
    font-size: 13px;
    color: #666;
}
    .tickets .disclaimer {
        margin-top: -10px;
        width: 280px;
        font-size: 12px;
        font-style: italic;
        border: 1px solid #f2f2f2;
        background: #fbfbfb;
        border-radius: 2px;
        padding: 15px;
    }

    .tickets h1 {
        color: #333;
    }

    .tickets h4 {
        color: #999;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        margin: 0 0 20px -5px;
    }

    .tickets .container {
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        background: #fbfbfb;
    }

        .tickets .ticket .information{
            padding: 25px;
        }

        .tickets .ticket h2 {
            display: block;
            background: #dfe4e6;
            padding: 22px 30px;
            color: #000;
            margin: 0px;
        }
            .tickets .collapsed h2 {
                background: #eef3f5;
                border-bottom: 1px solid #fff;
            }
                .tickets h2 .fr button {
                    float: right;
                    margin: -3px -10px 0 10px;
                }

                .tickets .collapsed .information {
                    display: none;
                }

        .tickets .container .flight .dtc:first-child {
            width: 328px;
        }

            .tickets .container .flight .dtc:nth-child(2),
            .tickets .container .flight .dtc:nth-child(3) {
                width: 120px;
            }

            .tickets .container .flight .dtc.long,
            .tickets .container .flight .dtc:nth-child(4),
            .tickets .container .flight .dtc:nth-child(5) {
                width: 160px;
            }

            .tickets .information .flight .dtc.short {
                width: 120px;
            }

    .tickets .container .dtc i {
        padding-bottom: 3px;
    }

    .tickets .container .dtc b,
    .tickets .container .dtc a,
    .tickets .container .dtc span {
        font-size: 14px;
    }
        .tickets .container .dtc i,
        .tickets .container .dtc small,
        .tickets .container .dtc small * {
            font-size: 12px;
        }

    .tickets .flight .dtc b i {
        display: inline-block;
    }
